/*!
 * Mixin 
 * 
 * @Author :Jeff
 * @CopyRight :Jeff
 */

@import 'mixins.scss';

body{
	color: $text-color-gray;
	margin: 0;
	font-family: $font-family;
}

li{
	list-style: none;
}

ul,button,p{
	margin: 0;
	padding: 0;
}

a,button{
	text-decoration: none;
	cursor: pointer;
}

.container{

}

.sidebar{
	height: 100%;
	width: $sidebar-width;
	position: fixed;
	background: $sidebar-background;
	overflow: hidden;
	@include box-sizing(border-box);
	@include transition(all .3s ease);
	.logo-container{
		background-color: $logo-background;
		height: 50px;
		color: #fff;
		.logo{
			line-height: 50px;
			padding: 0 10px;
			h2{margin: 0;}
		}
	}
	.sidebar-container{
		height: 610px;
		.container-fluid{
			padding-left: 25px;
			padding-right: 25px;
			.sidebar-row{
				// margin-left: -25px;
				// margin-right: -25px;
				padding-bottom: 10px;
				border-bottom: 1px solid $sidebar-border-color;
				.sidebar-header{
					color: $sidebar-header-color;
					font-size: 15px;
					padding-top: 25px;
					font-weight: 700;
					padding-bottom: 12px;
				}	
			}		
			.toggle-button{
				float: right;
				margin-right: 10px;
			}		
		}
	}

	ul.sidebar-nav{
		li{
			margin-left: -25px;
			margin-right: -25px;
			&.active{
				border-left: 5px solid #E76049;
				background: $sidebar-active-background;
				a::after{
					right: 0;
					content: '';
					position: absolute;
					border-top:10px solid transparent;
					border-bottom: 10px solid transparent;
					border-right: 10px solid $body-background;
				}
			}
			a{
				line-height: 16px;
				padding: 10px 25px;
				color: $sidebar-text-color;
				font-size: 14px;
				display: block;
				&:hover{
					background: $sidebar-nav-hover;
				}
				i{
					margin-right: 10px;
				}
			}
			&.open{
				background: $sidebar-nav-hover;
			}
			ul.sidebar-subnav{
				margin-left: 25px;
				display: none;
				li{
					margin: 0;
					border-left: 1px solid $sidebar-border-color;
					position: relative;
					&:before{
						left: 0;
						top: 15px;
						width: 15px;
						content: ' ';
						position: absolute;
						display: inline-block;
						border: 1px solid rgba(59,70,72,.5);
					}
				}
			}
		}//li end
	}//ul.sidebar-nav end
}//sidebar end

.main{
	.navbar{
		position: fixed;
		right: 0;
		left: 0;
		margin-left: $sidebar-width;
		background: $sidebar-background;
		min-height: $navbar-height;
		@include box-sizing(border-box);
		@include transition(all .3s ease);
		.navbar-nav{
			float: right;
			li{
				float: left;
				a{
					display: block;
					color: $text-color-gray;
					height: 25px;
					padding: 12px;
					font-size: 21px;
					width: 55px;
					text-align: center;
					position:relative;
					border-left: 2px solid $sidebar-border-color;
					@include transition-duration(0.5s);
					i{
						margin-right: 7px;
					}
					&.logout{
						font-size: 14px;
						width: 60px;
						line-height:25px;
					}
					&:hover{
						.navbar-icon,.dropdown-title{
							color: #fff;
						}
						width: 70px;
						.navbar-nav-ctrl{
							display: inline;
							// @include transition-duration(width 0.5s);
						}
						.navbar-badge{
							display: none;
						}
						.navbar-dropdown{
							display: block;
						}
					}
					.navbar-nav-ctrl{
						font-size: $font-size-base;
						display: none;
					}
					.badge-orange{
						@include round-badge($bg-orange,$bg-red);
					}
					.badge-green{
						@include round-badge($bg-green,$bg-darkgreen);
					}
					.navbar-dropdown{
						border: none;
						border-top: 5px solid $bg-red;
						margin-top: 0;
						display: none;
						@include box-shadow(0 1px 3px 0 rgba(0,0,0,.2));
						@include absolute-position(-10px,100%);
						@include border-bottom-radius(5px);
						background-color: #fff;
						min-height: $dropdown-minheight;
						min-width: $dropdown-minwidth;
						text-align: left;
						&::after{
							content: '';
							@include absolute-position(40px,-14px);
							display: inline-block;
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-bottom: 12px solid $bg-red;
						}
						&.dropdown-user{
							width:$dropdown-user-width;
							.dropdown-body{
								border-bottom:1px solid #eee;
							}
						}
						&.dropdown-mails{
							width:$dropdown-mails-width+50;
							.dropdown-body{
								padding:0 !important;
							}
						}
						.dropdown-body{
							padding:10px 0;
						}

						.dropdown-title{
							color:rgb(152,160,163);
							font-size:14px;
							padding:6px 15px;
							border-bottom:solid 1px #f2f2f2;
							background:$dropdown-title-background;
						}
						.dropdown-ctrl{
							clear:both;
							button{
								color:rgb(152,160,163);
								background-color:$dropdown-title-background;
								border:none;
								height:31px;
								@include transition(all .5s);
								&:hover{
									background-color:#EAEDF1;
								}
								&.notify-ctrl{
									width:$dropdown-notify-width/2+10;
								}
								&.user-ctrl{
									width:$dropdown-user-width/2+10;
								}
								&.mails-ctrl{
									width:$dropdown-mails-width/2+25;
								}
							}
							.ctrl-left{
								border-right:1px solid #DDE1E6;
								border-bottom-left-radius:5px;
							}
							.ctrl-right{
								border-bottom-right-radius:5px;
								margin-left:-5px;
							}
						}
						//dropdown menu - user control
						.user-avatar{
							img{
								border-radius: 25px;
							}
							float: left;
							margin-right: 15px;
							margin-left: 10px;
						}
						.user-name{
							color:#2eb398;
							font-size:14px;
							margin-top: 5px;
							p{
								margin-top: 5px;
								color:#89949B;
							}
						}
						//dropdown menu - notify control 
						.notify-row{
							color:$sidebar-text-color;
							font-size:14px;
							border-bottom:1px solid #eee;
							padding:10px;
							&:hover{
								background-color:#fcfcfc;
							}

							.notify-time{
								color:#B8C3C8;
								margin-top:5px;
								float:right;
							}
							.notify-title{
								margin-top:5px;
								color:#2EB398;
							}
							.notify-summary{
								width:$dropdown-notify-width;
								margin-top:5px;
								@include text-truncate();
							}
						}
						//dropdown menu - mails control
						.mails-row{
							color:$sidebar-text-color;
							font-size:14px;
							border-bottom:1px solid #eee;
							padding:10px;
							&:hover{
								background-color:#fcfcfc;
							}
							.mails-avatar{
								float:left;
								img{
									border-radius:20px;
								}
							}
							.mails-body{
								margin-left:40px;
							}
							.mails-time{
								color:#B8C3C8;
								margin-left:40px;
							}	
							.mails-title{
								margin-top:5px;
								color:#2EB398;								
							}	
							.mails-summary{
								width:$dropdown-mails-width;
								margin-top:5px;
								@include text-truncate();								
							}					
						}
					}
				}
			}			
		}//.navbar-nav end
	}//.navbar end

	.body{
		height: 600px;
		background:$body-background;
		margin-left: $sidebar-width;
		padding-top: 25px;
	}	
}

.btn-red{
	@include btn-round($bg-red);
	float:left;
	&:hover{
		background-color:#d9534f;
	}
}

.btn-blue{
	@include btn-round($bg-blue);
	float:left;
	&:hover{
		background-color:#3071a9;
	}
}

.mCSB_container{
	margin-right: 0 !important;
}

.mCSB_dragger,.mCSB_draggerRail{
	display: none;
}

.clear{
	clear:both;
}

