// Place all the styles related to the Manage::Professions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3.panel-title {
    float: left;
    line-height: 28px;
    margin-right: 10px;
}