// Place all the styles related to the Manage::Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//=require bootstrap-wysihtml5

@mixin icon-position($x,$y){
    background-position: 80px*$x - 2px 80px*$y;
}
#xform-table{
    tr.xform-row{
        td{
            table{
                margin: 0px;
                tr:first-child{
                    border-top:0px;
                }
            }
        }
        td.order{
            font-size: 20px;
            width: 50px;
            text-align: center;
            vertical-align: middle;
        }
        td.icon{
            width: 100px;
        }
        .editor{
            width: 100%;
            min-height: 100px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 8px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
    }
}


.form-icon{
    display: block;
    width: 80px;
    height: 80px;
    border: 2px dotted #D0D0D0;
    margin: 3px;
    border-radius: 3px;
    float: left;
    background-image: asset_url("manage/form_icons.png");
    @include icon-position(1,1);
}
.icons .form-icon:hover{
    border-color: #1A344D;
    background-color: #eee;
    cursor: pointer;
}
.icon-text_field{
    @include icon-position(0,0);
}
.icon-text_area{
    @include icon-position(5,0);
}
.icon-kindeditor{
    @include icon-position(4,0);
}
.icon-datetime_local_field{
    @include icon-position(3,0);
}
.icon-url_field{
    @include icon-position(2,0);
}
.icon-number_field{
    @include icon-position(1,0);
}
.icon-single_select{
    @include icon-position(0,1);
}
.icon-multi_select{
    @include icon-position(5,1);
}
.icon-confirm_box{
    @include icon-position(4,1);
}
.icon-image_uploader{
    @include icon-position(3,1);
}
.icon-file_uploader{
    @include icon-position(2,1);
}