// Place all the styles related to the Manage::Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
    background:#313842;
    background: image-url("manage/bg.jpg") no-repeat;
}


#container{
    width:1000px;
    padding-top: 485px;
    padding-left: 400px;
}

#lside{
    float: left;
    padding-right: 30px;
}

#rside{
    float: left;
}

#log{
    float: left;
    padding:2px 10px;
}


div.notice{
    background-color: red;
}

.login-box{
    margin-left: auto;
    margin-right: auto;
    .login-input{
        width: 260px;
        height: 42px;
        font-size: 20px;
    }
    .login-submit{
        width: 72px;
        height: 42px;
        font-size: 20px;
    }
}