/* line 4, /home/jeff/cxlab/app/assets/stylesheets/manage/nodes.css.scss */
.node-block {
  height: 50px;
}
/* line 6, /home/jeff/cxlab/app/assets/stylesheets/manage/nodes.css.scss */
.node-block h3 {
  line-height: 25px;
}
/* line 9, /home/jeff/cxlab/app/assets/stylesheets/manage/nodes.css.scss */
.node-block span {
  padding-left: 10px;
}
