
<ul class="nav nav-tabs">
  <li role="presentation" class="<%= is_active_nav 0 %>"><%= link_to '概览',contest_path %></li>
  <% @contests.each do |contest| %>
  <li role="presentation" class="<%= is_active_nav contest.id %>"><%= link_to contest.name,contest_detail_path(contest.id) %></li>
  <% end %>
</ul>

<div class="contest_detail">
</div>

