<div id="grid" style="margin:10px 10px"></div>
<%= javascript_include_tag "ext-all.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "students_grid.js", 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    "theme-all.css", media: 'all', 'data-turbolinks-track' => true %>

