<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manage_profession.name %>
</p>

<%= link_to 'Edit', edit_manage_profession_path(@manage_profession) %> |
<%= link_to 'Back', manage_professions_path %>
