<div class="page-header">
  <h2>赛事管理</h2>
</div>

<% @manage_competes.each do |compete| %>
  <%= render partial:'item',locals:{compete: compete} %>
<% end %>



<br>

<%= link_to '新建比赛', new_manage_compete_path,class:"btn btn-success" %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <a class="btn btn-warning" id="edit_link">编辑</a>
      </div>
    </div>
  </div>
</div>
