<div class="page-header">
  <h2>举办比赛</h2>
</div>
<% @manage_competes.each do |compete| %>
  <%= render partial:'item',locals:{compete: compete} %>
<% end %>



<br>

<%= link_to '新建比赛', new_manage_compete_path,class:"btn btn-success" %>
