@import 'mixins.scss';
$cn-font:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";
body{
    color:#666;
}
h1,h2,h3,h4,h5,h6{
    font-family: $cn-font;
}
a{
    color:#ddd;
    font-family: $cn-font;
}
a:hover,a:active,a:visited{
    text-decoration: none;
    color:#ddd;
}

li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}

.clear{
    clear:both;
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
}

$header-bg: #203049;
header{
    width: 100%;
    min-height: 70px;
    color: #fff;
    font-family: $cn-font;
    background: $header-bg;
    margin-top: 0;
    a:hover{
        background-color: lighten($header-bg,10%);
        color: #eee;
    }
    div.brand{
        height: 70px;
        float: left;
        width: 20%;
        text-align: center;
        line-height: 70px;  // 文字垂直居中
        a{
            padding: 22px 20%;// (70-26)/2=22
            font-size: 24px;
        }
    }
    div.links{
        ul li{
            height: 70px;
            line-height: 70px;
            float: left;
            a{
                padding: 28px 26px;
                transition: all 0.2s;
            }
            &.active{
                background-color: lighten($header-bg,10%);
                color: #eee;
            }
        }
    }
    div.user{
        float: right;
        li.info{
            background-color: #1F4C71;
        }
        li.warning{
            background-color: #712B1F;
        }
        li.success{
            background-color: rgb(29, 108, 29);
        }
    }
}

.content{
}

.main-content{
    // margin: 30px 0; 
}

footer{
    margin-top: 50px;
    .footer-link{
        padding: 30px 0 10px;
        background-color: #333;
        color: #fff;  
        .nav-group{
            padding-left: 20px;
            h4{
                color: #A6A6A6;
                margin-bottom: 20px;
            }
            li{
                margin-bottom: 20px;
                a{
                    &:hover{
                        color: #fff;
                    }
                }
            }            
        }
    }
    .copyright{
        .footer-logo{
            font-weight: bold;
            font-size: 22px;
            color: #A6A6A6;
            margin-bottom: 10px;
        }
        .text{
            color: #A6A6A6;
            font-size: 18px;
        }
        background-color: #000;
        height: 180px;
        padding-top: 45px;
    }
}


//button
.button{
    padding: 12px 20px;
    display: inline-block;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: 0.25s background-color;
    -moz-transition: 0.25s background-color;
    -o-transition: 0.25s background-color;
    -ms-transition: 0.25s background-color;
    transition: 0.25s background-color;
    white-space: nowrap;
    border: none;
    outline: none;
}

//blink
.blink {
    animation: blink 1.5s infinite;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    -o-animation: blink 1.5s infinite;
}

@keyframes blink{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes blink{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes blink{
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:1}
}

