@import 'mixins.scss';
// Place all the styles related to the Index::Contest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topbar {
  position: fixed;
  background-color: lighten($bg-sidebar,10%);
  width: 100%;

}

.contest_detail{
  background-color: #fff;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 20px;
  img.contest_cover {
    float: right;
  }

  .jumbotron{
    background-color: #fff;
  }
}

.compete-sign-info-box{
  background-color: #F5F5F5;
  img{
    width: 100px;

  }
  .cover{
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .detail{
    padding: 10px;
    padding-left: 110px;
    height: 100px;
    h4{
      margin-top: 0;
    }
    p{
    }
  }
}