// Place all the styles related to the Cxpt::Passage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins.scss';
#passage_title{
  text-align: center;
  font-size: 30px;
  font-family: $font-family;
  font-weight: 300;
  margin-top: 10px;
  word-wrap: break-word;
  width: 90%;
}
#passage_content{
  padding: 15px;
}
#passage_detail{
  text-align: center;
  color: #666;
  margin-top: 10px;
}

.image-table td{
  h4{
    margin-top: 0;
  }
  p{
    color: #666;
    height: 120px;
    overflow: hidden;
  }
}

.gallery-item{
  float: left;
  width: 250px;
  box-shadow: 0 0 3px #e7e7e7;
  margin: 10px;
  h4{
    margin-top: 0;
  }
  .description{
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 10px;
    height: 100px;
    overflow: hidden;
  }
}