$color_base_bg:#F7F7F7; //18%灰
$color_primary:#428bca;

$nav-bg-color: #2d608c;
body{
  background-color: $color_base_bg;
  color:#333;
  min-width: 700px;
  margin: 0;
}
a:hover{
  text-decoration: none;
}

.clear{
  clear: both;
}


.header{
  margin-top: 10px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  .logo{
    width: 280px;
    height: 150px;
    background-color: #666;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
    color: #fff
  }
}

.nav{
  background-color: $nav-bg-color;
  margin-top: 5px;
  ul{
    margin:0;
    padding: 0;
    li{
      float:left;
      list-style: none;
      &.active,a:hover,div.child a:hover{
        background-color: lighten($nav-bg-color,10%);
      }
      a{
        color: #fff;
        display: block;
        padding: 17px 29px;
        border-right: 1px solid lighten($nav-bg-color,10%);
        transition: all 0.2s ease;
      }
      div.child{
        position: absolute;
        display: none;
        background-color: $nav-bg-color;
      }
      div.child a{



      }
    }
    li:last-child a{
      border-right:0;
    }
  }
}

#main{
  background-color: #fff;
  margin-top: 20px;
}