@import 'cxpt/mixins.scss';
body{
  background-image: image-url('cxpt/global_bg.gif');
  color:#333;
  min-width: 700px;
  margin: 0;
}
a:hover{
  text-decoration: none;
}

.clear{
  clear: both;
}


.header{
  margin-top: 10px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  .logo img{
    height: 81px;
    margin: 15px 0px;
  }
}

.nav{
  background-color: $nav-bg-color;
  margin-top: 5px;
  ul{
    margin:0;
    padding: 0;
    li{
      float:left;
      list-style: none;
      &.active,a:hover,div.child a:hover{
        background-color: lighten($nav-bg-color,10%);
      }
      a{
        color: #fff;
        display: block;
        padding: 17px 29px;
        border-right: 1px solid lighten($nav-bg-color,10%);
        transition: all 0.2s ease;
      }
      div.child{
        position: absolute;
        display: none;
        background-color: $nav-bg-color;
        z-index: 999;
      }
      div.child a{



      }
    }
    li:last-child a{
      border-right:0;
    }
  }
}

#main-container{
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding:20px;
}
#main{
  min-height: 500px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
}
div.aside{
  min-height: 500px;
  padding-bottom: 10px;
  border-right: 1px solid #E4E4E4;

}