<%= xform_form_for(@manage_xform,@compete,@section,html:{id:"xform"}) do |f| %>
  <%= f.hidden_field :field_type,value: @field_type %>
<table class="table">
  <%= render partial: "manage/xforms/fields/#{@field_type}",locals:{field_id: @field_index,form_obj: f} %>
  <tr>
    <td><label for="xform_message">介绍</label></td>
    <td colspan="5">
      <%= f.cktext_area :message,:ckeditor => {:uiColor => '#efefef', :toolbar => 'mini'} %>
    </td>
  </tr>
</table>
<% end %>
