    <div class="header">
        <div class="container">
            <div class="col-md-4 logo">Logo</div>
            <div class="col-md-6 col-md-offset-2 nav">
                <ul class="nav nav-pills nav-ul">
                    <li><a href="">首页</a></li>
                    <li><a href="">比赛列表</a></li>
                    <li><a href="">帮助中心</a></li>
                    <li><a href="">导航一</a></li>
                    <li><a href="">导航二</a></li>
                    <li><%= link_to "后台管理",manage_url %></li>
                </ul>
            </div>
            <div class="clear"></div>           
        </div>
    </div>
        <div class="content">
            <div class="container-fluid">
                <div class="banner">
                    <img src="img/banner-big.jpg" alt="">
                </div>
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 news">
                            <div class="news-header"><h4>最新资讯</h4></div>
                            <div class="news-body">
                                <ul class="news-ul">
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                    <li class="news-items"><span class="label label-success">蓝桥杯</span><a href="" class="news-button">这是一条测试新闻啦啦啦啦</a><span class="news-time">2014-10-20</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1 divider"></div>
                        <div class="col-md-3 login" >
                            <div class="login-header">
                                <h4>登录</h4>
                            </div>
                            <div class="login-form">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="请输入用户名">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                                <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success col-xs-12">立即登录</button>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-7">
                                            <button class="btn btn-info col-xs-12">新用户注册</button>
                                        </div>
                                        <div class="col-xs-5">
                                            <button class="btn btn-default col-xs-12">
                                                忘记密码
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>                  
                </div>

                <div class="row">
                    <div class="competition">
                        <div class="competition-header">
                            <h1>赛事介绍</h1>
                        </div>
                        <div class="competition-list">
                            <div class="nav-control">
                                <div class="container">
                                    <ul class="nav nav-pills tab-control col-md-8 col-md-offset-2">
                                        <div class="row">
                                            <li class="col-xs-3"><a class="col-xs-12" href="#">蓝桥杯</a></li>
                                            <li class="col-xs-3"><a class="col-xs-12" href="#">ACM</a></li>
                                            <li class="col-xs-3"><a class="col-xs-12" href="#">中国软件杯</a></li>
                                            <li class="col-xs-3"><a class="col-xs-12" href="#">其他</a></li>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                            <div class="flexslider">
                                <div class="container">
                                    <ul class="slides">  <!-- slides begin -->
<li>
    <div class="col-md-10 col-md-offset-1" id="bluebrigecup">
        <div class="competition-desc">
            <div class="row">
                <div class="competition-pic col-md-6">
                    <img src="/assets/index/bluebridgecup.png" width="200" alt="" style="margin-top:0;margin-left:150px">
                </div>
                <div class="col-md-6">
                    <div class="competition-desc-title">
                        <h2>蓝桥杯</h2>
                    </div>
                    <div class="competition-desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
                    </div>  
                    <button class="btn competition-desc-btn">查看详细介绍</button>                    
                </div>
            </div>
                        
        </div>  
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">比赛信息</p>
        </div>
        <div class="row competition-psg">
            <div class="col-md-5 col-md-offset-1  competition-info">
                <h4>论坛新帖</h4>
                <ul>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                </ul>
            </div>
            <div class="col-md-5 competition-post">
                <h4>最新资讯</h4>
                <ul>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                </ul>
            </div>                          
        </div>      
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">赛事进度</p>
        </div>
        <div class="row competition-progress">
            <div class="col-md-10 col-md-offset-1 competition-progress-bar">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>  
                <div class="competition-progress-tag">
                     <div class="tooltip bottom" role="tooltip" style="left:5%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <span>10.23 比赛开始</span>
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:45%">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            11. 15 预赛
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:90%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            2.1 决赛
                        </div>                       
                    </div>  
                </div>             
            </div>
        </div>
        <div class="clear"></div>
        <div class="competition-countdown">
            <h2>
                距离决赛还有<span class="countdown-number">36</span>天<span class="countdown-number">12</span>小时
            </h2>
        </div>
    </div>  
</li>
<li>
    <div class="col-md-10 col-md-offset-1" id="acm">
        <div class="competition-desc">
            <div class="row">
                <div class="competition-pic col-md-6">
                    <img src="/assets/index/acm.png" alt="" style="margin-top:60px">
                </div>
                <div class="col-md-6">
                    <div class="competition-desc-title">
                        <h2>ACM</h2>
                    </div>
                    <div class="competition-desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
                    </div>  
                    <button class="btn competition-desc-btn">查看详细介绍</button>                    
                </div>
            </div>
                        
        </div>  
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">比赛信息</p>
        </div>
        <div class="row competition-psg">
            <div class="col-md-5 col-md-offset-1 competition-info">
                <h4>论坛新帖</h4>
                <ul>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                </ul>
            </div>
            <div class="col-md-5 competition-post">
                <h4>最新资讯</h4>
                <ul>
                    <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                </ul>
            </div>                          
        </div>      
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">赛事进度</p>
        </div>
        <div class="row competition-progress">
            <div class="col-md-10 col-md-offset-1 competition-progress-bar">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>  
                <div class="competition-progress-tag">
                     <div class="tooltip bottom" role="tooltip" style="left:5%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            10.23 比赛开始
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:45%">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            11. 15 预赛
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:90%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            2.1 决赛
                        </div>                       
                    </div>  
                </div>             
            </div>
        </div>
        <div class="clear"></div>
        <div class="competition-countdown">
            <h2>
                距离决赛还有<span class="countdown-number">36</span>天<span class="countdown-number">12</span>小时
            </h2>
        </div>
    </div>  
</li>
<li>
    <div class="col-md-10 col-md-offset-1" id="softwarecup">
        <div class="competition-desc">
            <div class="row">
                <div class="competition-pic col-md-6">
                    <img src="/assets/index/softwarecup.gif"  width="400" alt="" style="margin-top:30px">
                </div>
                <div class="col-md-6">
                    <div class="competition-desc-title">
                        <h2>中国软件杯</h2>
                    </div>
                    <div class="competition-desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
                    </div>  
                    <button class="btn competition-desc-btn">查看详细介绍</button>                    
                </div>
            </div>
                        
        </div>  
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">比赛信息</p>
        </div>
        <div class="row competition-psg">
            <div class="col-md-5 col-md-offset-1 competition-info">
                <h4>论坛新帖</h4>
                <ul>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                </ul>
            </div>
            <div class="col-md-5 competition-post">
                <h4>最新资讯</h4>
                <ul>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                </ul>
            </div>                          
        </div>      
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">赛事进度</p>
        </div>
        <div class="row competition-progress">
            <div class="col-md-10 col-md-offset-1 competition-progress-bar">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>  
                <div class="competition-progress-tag">
                     <div class="tooltip bottom" role="tooltip" style="left:5%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            10.23 比赛开始
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:45%">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            11. 15 预赛
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:90%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            2.1 决赛
                        </div>                       
                    </div>  
                </div>             
            </div>
        </div>
        <div class="clear"></div>
        <div class="competition-countdown">
            <h2>
                距离决赛还有<span class="countdown-number">36</span>天<span class="countdown-number">12</span>小时
            </h2>
        </div>
    </div>  
<li>
    <div class="col-md-10 col-md-offset-1" id="others">
        <div class="competition-desc">
            <div class="row">
                <div class="competition-pic col-md-6">
                    <img src="/assets/index/acm.png" alt="" style="margin-top:60px">
                </div>
                <div class="col-md-6">
                    <div class="competition-desc-title">
                        <h2>ACM</h2>
                    </div>
                    <div class="competition-desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
                    </div>  
                    <button class="btn competition-desc-btn">查看详细介绍</button>                    
                </div>
            </div>
                        
        </div>  
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">比赛信息</p>
        </div>
        <div class="row competition-psg">
            <div class="col-md-5 col-md-offset-1 competition-info">
                <h4>论坛新帖</h4>
                <ul>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                    <li class="info-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="info-time">2014-10-20</span></a></li>
                </ul>
            </div>
            <div class="col-md-5 competition-post">
                <h4>最新资讯</h4>
                <ul>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                    <li class="post-items"><span class="label label-success">蓝桥杯</span><a href="">这是一条测试新闻哈哈哈哈<span class="post-time">2014-10-20</span></a></li>
                </ul>
            </div>                          
        </div>      
        <div class="divider-line">
            <img src="/assets/index/line.png" alt="">
            <p class="divider-content">赛事进度</p>
        </div>
        <div class="row competition-progress">
            <div class="col-md-10 col-md-offset-1 competition-progress-bar">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>  
                <div class="competition-progress-tag">
                     <div class="tooltip bottom" role="tooltip" style="left:5%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            10.23 比赛开始
                        </div>                       
                    </div>  
                </div>
                <div class="competition-progress-tag" >
                     <div class="tooltip bottom" role="tooltip" style="left:45%">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            11. 15 预赛
                        </div>                       
                    </div>                   
                </div>
                <div class="competition-progress-tag" >
                    <div class="tooltip bottom" role="tooltip" style="left:90%;">
                         <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            2.1 决赛
                        </div>                       
                    </div>
                </div>             
            </div>
        </div>
        <div class="clear"></div>
        <div class="competition-countdown">
            <h2>
                距离决赛还有<span class="countdown-number">36</span>天<span class="countdown-number">12</span>小时
            </h2>
        </div>
    </div>      
</li>
                                    </ul>  <!-- slides end -->
                                </div>
                            </div>
                        </div> <!-- competition list end --> 
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                版权信息
            </div>
        </div>      
<%= content_for :js do %>
<%= javascript_include_tag  "jquery.flexslider-min.js",'data-turbolinks-track' => true %>

<% end %>